<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.neuedu.demo.dao.StudentMapper">
	<insert id="insertStudent" parameterType="UserInfo" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
		INSERT INTO
		user_stu(name,password,image) 
		VALUES(#{username},#{password},#{image});
	</insert>
	<delete id="deleteStudent" parameterType="Long">
		DELETE FROM user_stu
		WHERE id=#{id};
	</delete>
	<update id="updateStudent" parameterType="UserInfo">
		UPDATE user_stu
		SET
		name=#{username},
		password=#{password},
		image=#{image}
		WHERE id=#{id};
	</update>
	<select id="queryStudentById" parameterType="Long" resultMap="myUserInfo">
		SELECT id,name,password,image
		FROM user_stu
		WHERE id=#{0};
	</select> 
	<select id="queryStudentByName" parameterType="String" resultMap="myUserInfo">
		SELECT id,name,password,image
		FROM user_stu
		WHERE name=#{name};
	</select> 
	<select id="isExistent"  parameterType="Long" resultType="Integer">
		select COUNT(*) as count from user_stu where id=#{id}
	</select>
	<resultMap type="UserInfo" id="myUserInfo">
		<id column="id" property="id" />
		<result column="name" property="username" />
		<result column="password" property="password" />
		<result column="image" property="image" />
	</resultMap>
	<select id="count" resultType="Long">
		select count(*) as count from user_stu
	</select>
</mapper>