<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.neuedu.demo.dao.UserDiscussionMapper">
	<insert id="insertUserDiscussion" parameterType="UserDiscussion">
		INSERT INTO
		user_discussion(discussion_id,user_identity,user_id,star_state) 
		VALUES(#{discussionId},#{userIdentity},#{userId},#{starState});
	</insert>
	<delete id="deleteUserDiscussion" parameterType="UserDiscussion">
		DELETE FROM user_discussion
		WHERE discussion_id=#discussionId} and user_identity=#{userIdentity} and user_id=#{userId};
	</delete>
	<update  id="updateUserDiscussionState" parameterType="UserDiscussion">
		UPDATE user_discussion
		SET
		star_state=#{starState}
		WHERE user_identy=#{userIdentity} and user_id=#{userId} and discussion_id=#{discussionId};
	</update>
	<select id="queryUserDiscussions" parameterType="Pair" resultType="UserDiscussion">
		SELECT user_identity userIdentity ,user_id userId,discussion_id discussionId,star_state starState
		FROM user_discussion
		WHERE user_identity=userIdentity and user_id=userId;
	</select> 
	<select id="queryDiscussionUsersByUserId" parameterType="Long" resultType="UserDiscussion">
		SELECT user_identity userIdentity ,user_id userId,discussion_id discussionId,star_state starState
		FROM user_discussion
		WHERE discussion_id=discussionId;
	</select> 
	<select id="count" resultType="Long">
		select COUNT(*) as count from user_discussion 
	</select>
</mapper>