<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.neuedu.demo.dao.UserDiscussionMapper">
	<insert id="insertUserDiscussion" parameterType="UserDiscussion" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
		INSERT INTO
		user_discussion(discussion_id,user_identity,user_id,star_state) 
		VALUES(#{discussionId},#{userIdentity},#{userId},#{starState});
	</insert>
	<delete id="deleteUserDiscussion" parameterType="Long">
		DELETE FROM user_discussion
		WHERE id=#{0}
	</delete>
	<update  id="updateUserDiscussionState" parameterType="Pair">
		UPDATE user_discussion
		SET
		star_state=#{value2}
		WHERE id=#{value1}
	</update>
	<select id="queryUserDiscussionById" parameterType="Long" resultType="UserDiscussion">
		SELECT id id,user_identity userIdentity,user_id userId,discussion_id discussionId,star_state starState
		FROM user_discussion
		WHERE id=#{id};
	</select> 
	<select id="queryUserDiscussions" parameterType="Pair" resultType="UserDiscussion">
		SELECT id id,user_identity userIdentity ,user_id userId,discussion_id discussionId,star_state starState
		FROM user_discussion
		WHERE user_identity=userIdentity and user_id=userId;
	</select> 
	<select id="queryUserDiscussionsByDiscussionId" parameterType="Long" resultType="UserDiscussion">
		SELECT id id,user_identity userIdentity ,user_id userId,discussion_id discussionId,star_state starState
		FROM user_discussion
		WHERE discussion_id=#{discussionId};
	</select> 
	<select id="isExistent"  parameterType="Long" resultType="Integer">
		select COUNT(*) as count from user_discussion where id=#{id}
	</select>
	<select id="count" resultType="Long">
		select COUNT(*) as count from user_discussion 
	</select>
</mapper>